*{
    margin: 0;
    padding: 0;
}
.Picture{
    background: #80cdc5;

}
.IconWater{
    position: absolute;
    bottom: -35%;
  /*  margin: 5%;*/
}
.IconClouds{
    height: 50%;
    width: 50%;
    position: absolute;
    top: -7%;
    right: 9%;
}
.IconWooden{
    height: 35%;
    width: 35%;
    position: absolute;
    bottom: -32%;
    left: -4%;
    margin: 5%;
}
.IconWorld{
   /* background: #80cdc5;*/
    position: absolute;
    top: 30%;
    height: 100%;
    width: 100%;
}
.PicruresNature{

}
/*position top left right bottom*/